twisted
PyQt6
pylabrad>=0.98.7
pywin32
stim
scipy
func_timeout
pyvisa
apscheduler
h5py
adjustText
cryptography==36.0.0
numpy-quaternion
physics-tenpy
cssselect
qutip
protobuf
cvxpy
networkx==3.2.1
numpy
matplotlib
pandas
seaborn
tqdm
colorama
dill
ray<=2.41.0
torch
configparser
future
ipython
setuptools
scikit-learn
psutil